<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/cart_img.png') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <h3 class="title">Cart</h3>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <!-- <div class="button-container">
              <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                <i class="fab fa-instagram"></i>
              </a>
          </div> -->
          <div class="row">
            <div class="col-md-9">
                    <table class="table">

                        <tbody>
                            <tr><td></td> <td></td> <td></td></tr>
                          <tr>
                            <td style="max-width: 15rem;"><img src="../../assets/img/packagingV1.png" class="img-fluid" alt="Responsive image"></td>
                            <td>
                            Azuro shampoo bar
                            <br><br>
                            60gr 
                            <br><br>
                            <form>
                                <div class="form-group row">
                                    <label for="quantity" class="col-md-3 col-form-label" style="font-size: medium; font-weight: bold;">Quantity</label>
                                    <div class="col-md-3">
                                      <input type="number" class="form-control" id="quantity" placeholder="">
                                    </div>
                                </div>
                                
                            </form>
                            </td>
                            <td>
                            11.00$
                            <br><br><br><br>
                            30.00$ <!-- Total price -->
                            <br><br>
                            <a href="#" class="badge badge-danger">Danger</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
            </div>
            <div class="col-md-3">
                    <table class="table">

                        <tbody>
                            <tr><td></td> <td></td> <td></td></tr>
                            <tr>
                                <td>
                                    <div class="row"><h3>Shipping details</h3></div>
                                    <div class="row">
                                        <div>Name, Surname</div>
                                        <input type="text" class="form-control" placeholder="Name Surname">
                                    </div>
                                    <div class="row">
                                        <div>Street</div>
                                        <input type="text" class="form-control" placeholder="Street name, number">
                                    </div>
                                    <div class="row">
                                        <div>State and zip code</div>
                                        <input type="text" class="form-control" placeholder="State, zip code">
                                    </div>
                                </td>
                              </tr>
                              <tr>
                          <tr>
                            <td>
                                <div class="row"><h3>Order summary</h3></div>
                                <div class="row">
                                    <div class="col-md-6">Sub total</div>
                                    <div class="col-md-6">30.00$</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Delivery</div>
                                    <div class="col-md-6">5.00$</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">Order total</div>
                                    <div class="col-md-6">35.00$</div>
                                </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                                <button type="submit" class="btn btn-primary">Checkout</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
            </div>
            
          </div>
         
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
