<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image rellax-header responsive-background" data-rellax-speed="-8">
        </div>
        <div class="container">
            <!-- <div class="content-center">
                <h1 class="title">This is our great company.</h1>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div> -->
        </div>
    </div>
    <div class="section section-about-us text-center">
        <div class="container">
            <section id="whyAzuro">
                <div  class="row justify-content-center">
                    <div class="col-md-8 section section-team text-center">
                        <h2 class="title">Who we are?</h2>
                        <h5 class="description">Azuro is more than just shampoo—it's a luxurious experience crafted with love and expertise. Our unique formula harnesses the power of high quality coconut oil, offering numerous benefits.Every bar of Azuro is handmade with precision, ensuring that each one delivers the finest quality for your skin and hair. We believe in the power of simplicity, using only the best natural ingredients to provide you with a pure, luxurious experience.</h5>
                    </div>
                </div>
            </section>
            
            <div class="separator separator-primary" ></div>
            <div class="row">
                <div class="section section-team text-center">
                    <div class="container">
                        <h2 class="title">Why Azuro?</h2>
                        <div class="team">
                            <div class="row">


                                <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons design_scissors"></i>
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="team-player">
                                                        <img src="assets/img/smooth_hair.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                        <h4 class="title">Smooth and Silky Texture</h4>
                                                        <p class="category text-primary">Hair</p>
                                                        <p class="description">Our formula nourishes each strand, leaving your hair soft, smooth, and tangle-free. Experience a silky feel that flows effortlessly, enhancing the natural beauty of your hair.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="team-player">
                                                        <img src="assets/img/Strengthens_Hair.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                        <h4 class="title">Strengthens Hair</h4>
                                                        <p class="category text-primary">Hair</p>
                                                        <p class="description">Enriched with nutrients, Azuro fortifies each strand, helping to reduce breakage and promote resilient, healthy hair. Over time, your hair will feel stronger and more vibrant.

                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="team-player">
                                                        <img src="assets/img/Enhances_Shine.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                        <h4 class="title">Enhances Shine</h4>
                                                        <p class="category text-primary">Hair</p>
                                                        <p class="description">Crafted with pure coconut oil, Azuro brings out the natural shine in your hair, giving it a radiant, healthy glow that stands out with every wash</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons">
                                        <span class="material-symbols-outlined">
                                            dermatology
                                            </span>
                                        </i>
                                      </ng-template>
                                      <ng-template ngbTabContent>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="team-player">
                                                    <img src="assets/img/fights_dandruff.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                    <h4 class="title">Fights Dandruff</h4>
                                                    <p class="category text-primary">Scalp</p>
                                                    <p class="description">Our shampoo bar is specially formulated to eliminate dandruff and reduce flakes, promoting a clean, balanced scalp with every wash.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="team-player">
                                                    <img src="assets/img/Reduces_Itchiness.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                    <h4 class="title">Reduces Itchiness</h4>
                                                    <p class="category text-primary">Scalp</p>
                                                    <p class="description">Enjoy relief from scalp irritation and itchiness as Azuro provides a soothing experience, helping restore comfort and calm to your scalp.

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="team-player">
                                                    <img src="assets/img/Revitalizes_Skin.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                    <h4 class="title">Supports Scalp Hydration</h4>
                                                    <p class="category text-primary">Scalp</p>
                                                    <p class="description">Hydrating without being greasy, Azuro keeps your scalp moisturized and refreshed, enhancing its overall health and resilience.</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons">
                                            <span class="material-symbols-outlined">
                                                wash
                                                </span>
                                        </i>
                                      </ng-template>
                                      <ng-template ngbTabContent>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="team-player">
                                                    <img src="assets/img/Soothes_and_Hydrates.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                    <h4 class="title">Soothes and Hydrates</h4>
                                                    <p class="category text-primary">Skin</p>
                                                    <p class="description">Azuro gently moisturizes your skin, providing deep hydration and calming any irritation. Perfect for sensitive skin, it leaves your skin feeling soft and rejuvenated.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="team-player">
                                                    <img src="assets/img/fights_dandruff.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                    <h4 class="title">Promotes Even Tone</h4>
                                                    <p class="category text-primary">Skin</p>
                                                    <p class="description">Designed to support your skin’s natural balance, our shampoo bar helps reduce redness and blotchiness, promoting an even and radiant complexion.

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="team-player">
                                                    <img src="assets/img/Revitalizes_Skin.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                                    <h4 class="title">Gentle Cleanse for All Skin Types</h4>
                                                    <p class="category text-primary">Skin</p>
                                                    <p class="description">With its mild formula, Azuro cleanses your skin without stripping away essential moisture, making it suitable for all skin types—including the most sensitive.</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>




                                <!-- <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/smooth_hair.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                        <h4 class="title">Smooths and Nourishes Hair</h4>
                                        <p class="category text-primary">Hair</p>
                                        <p class="description">Leaves your hair soft, silky, and as luxurious as tropical wool. Perfect for daily use, it enhances natural shine and manageability.</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/fights_dandruff.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                        <h4 class="title">Fights Dandruff</h4>
                                        <p class="category text-primary">Hair</p>
                                        <p class="description">Our gentle blend nourishes your scalp, eliminating flakes and promoting a healthy balance. Enjoy a refreshed, itch-free scalp with every wash.</p>
                                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="team-player">
                                        <img src="assets/img/Revitalizes_Skin.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                                        <h4 class="title">Revitalizes Skin</h4>
                                        <p class="category text-primary">Skin</p>
                                        <p class="description">Nurtures and refreshes, helping to calm irritation and enhance your skin’s natural glow. Ideal for sensitive skin, it promotes a healthy, balanced complexion.</p>
                                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                                            <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/handmade_soap_img.png')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">At Azuro, we believe in the beauty of simplicity—pure ingredients, handcrafted care, and a touch of nature in every bar.

                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/handmade_soap_img.png')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/packagingV1.png')"></div>
                        <h3>About Azuro</h3>
                        <p >At Azur M.A., we believe in creating products that nurture from nature. Our Azuro shampoo bar is crafted with care and expertise, combining the richness of pure coconut oil with a commitment to quality and sustainability. Designed to simplify and elevate your self-care routine, Azuro is more than just a shampoo—it’s a luxurious experience for both hair and skin.
                        </p>
                        <p>
                            Made with the finest natural ingredients, Azuro shampoo bar is gentle yet effective. It soothes and revitalizes the scalp, reduces flakes, and hydrates without harsh chemicals. Suitable for all skin types, Azuro brings out the best in both your hair and skin, leaving them soft, nourished, and radiant. Every bar is handcrafted to ensure quality, purity, and a touch of tropical luxury, allowing you to experience true care with every wash.
                        </p>
                        <p>With Azuro, you can trust that each product is as gentle on the environment as it is on you. Embrace the simplicity of Azur M.A.—where every ingredient is chosen with purpose, and every bar is made to enhance the beauty of nature, starting with you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-md-8">
            <section id="faq">
                <h2 class="title">FAQ</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            1. What makes the Azuro shampoo bar different from liquid shampoos?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">PAzuro shampoo bars are crafted with pure, natural ingredients and are free from harsh chemicals often found in liquid shampoos. Our bar offers a concentrated, eco-friendly solution that’s gentle on hair and skin, leaving them smooth, soft, and nourished. Plus, each bar lasts longer, reduces plastic waste, and is travel-friendly.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            2. Is the Azuro shampoo bar safe for all hair and skin types?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Yes! Azuro is formulated to be gentle and effective for all hair and skin types, including sensitive skin and scalp. Our shampoo bar is crafted with natural coconut oil, which provides hydration and balances moisture without causing irritation.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            4. Can I use the Azuro shampoo bar on my body as well?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Absolutely! Azuro is designed to nourish both hair and skin, making it a versatile addition to your routine. It works as a gentle body cleanser that hydrates and soothes the skin, ideal for an all-in-one shower experience.</div>
                    </div>
                </div>
            </div>
            </section>
            
        </div>
    </div>
    
    

    
    <div class="justify-content-center section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <!-- <div class="input-group-prepend" > -->
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    <!-- </div> -->
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <!-- <div class="input-group-prepend" > -->
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    <!-- </div> -->
                      <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
